<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CancelButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{0,223},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CharacterButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1441,223},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ContinueButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{0,463},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOScore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{614,381}</string>
                <key>spriteSourceSize</key>
                <string>{614,381}</string>
                <key>textureRect</key>
                <string>{{0,799},{614,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HomeButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1201,223},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LeftButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{720,223},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MenuButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,223}</string>
                <key>spriteSourceSize</key>
                <string>{202,223}</string>
                <key>textureRect</key>
                <string>{{1611,0},{202,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MusicOffButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,240}</string>
                <key>spriteSourceSize</key>
                <string>{241,240}</string>
                <key>textureRect</key>
                <string>{{960,223},{241,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MusicOnButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{720,463},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OkButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{960,463},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,336}</string>
                <key>spriteSourceSize</key>
                <string>{336,336}</string>
                <key>textureRect</key>
                <string>{{1200,463},{336,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QuitButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{480,463},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RightButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{240,463},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SoundOffButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{240,223},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SoundOnButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{480,223},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TitleBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1920}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{840,1188},{1080,1920}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ToyScore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,202}</string>
                <key>spriteSourceSize</key>
                <string>{478,202}</string>
                <key>textureRect</key>
                <string>{{777,0},{478,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,101}</string>
                <key>spriteSourceSize</key>
                <string>{95,101}</string>
                <key>textureRect</key>
                <string>{{360,0},{95,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,187}</string>
                <key>spriteSourceSize</key>
                <string>{207,187}</string>
                <key>textureRect</key>
                <string>{{570,0},{207,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blueball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,101}</string>
                <key>spriteSourceSize</key>
                <string>{89,101}</string>
                <key>textureRect</key>
                <string>{{0,0},{89,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,101}</string>
                <key>spriteSourceSize</key>
                <string>{54,101}</string>
                <key>textureRect</key>
                <string>{{306,0},{54,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>emptyDot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,336}</string>
                <key>spriteSourceSize</key>
                <string>{336,336}</string>
                <key>textureRect</key>
                <string>{{1536,463},{336,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,389}</string>
                <key>spriteSourceSize</key>
                <string>{1080,389}</string>
                <key>textureRect</key>
                <string>{{614,799},{1080,389}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,101}</string>
                <key>spriteSourceSize</key>
                <string>{128,101}</string>
                <key>textureRect</key>
                <string>{{89,0},{128,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{840,426}</string>
                <key>spriteSourceSize</key>
                <string>{840,426}</string>
                <key>textureRect</key>
                <string>{{0,1188},{840,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,101}</string>
                <key>spriteSourceSize</key>
                <string>{89,101}</string>
                <key>textureRect</key>
                <string>{{217,0},{89,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>santa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,216}</string>
                <key>spriteSourceSize</key>
                <string>{140,216}</string>
                <key>textureRect</key>
                <string>{{1471,0},{140,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{455,0},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snowman.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,204}</string>
                <key>spriteSourceSize</key>
                <string>{216,204}</string>
                <key>textureRect</key>
                <string>{{1255,0},{216,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{1920,3108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe6e100c32d4cd22589ad240b9961971:091d31e0fafd13d89275f562f63ea8f8:db71e206b3c010bfb176561963c50b15$</string>
            <key>textureFileName</key>
            <string>sprites.png</string>
        </dict>
    </dict>
</plist>
